<%= form_for([@photo, @photo.comments.build], html: {class: "form-inline"}) do |f| %>
  <div class="form-group">
    <%= f.label "comment" %><br>
    <%= f.text_field :text, class: "form-control" %>
  </div>

  <p>
    <%= f.submit class: "btn btn-default" %>
  </p>
<% end %>